<mat-grid-list cols="3" gutterSize="10px" rowHeight="500px">
  <mat-grid-tile *ngFor="let realty of realties">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ realty.name }}</mat-card-title>
        <mat-card-subtitle>{{ realty.postalAddress }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="realty.imageUrl" alt="Picture of the realty">

      <mat-card-content>
        <p>{{ realty.description }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Buy for {{ realty.price.toFixed(18) }} ETH</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
