<mat-toolbar color="primary">
  <span>Marketplace</span>
  <button mat-button routerLink="">Home</button>
  <button mat-button routerLink="/realty">Realties</button>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button routerLink="/account">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>



<router-outlet></router-outlet>
